%ol.progress-tracker
  %li{:class => progress_tracker_class(person, :phone_screened)}
    Phone Screen
  %li{:class => progress_tracker_class(person, :code_reviewed)}
    Code Review
  %li{:class => progress_tracker_class(person, :office_interviewed)}
    Office Interview
  %li{:class => progress_tracker_class(person, :offered)}
    Offer
  %li{:class => progress_tracker_class(person, :hired)}
    Hire