%ul.nav.nav-tabs.nav-stacked
  %li.nav-header
    Strange Data
  %li= link_to "Country/City Combos", records_to_clean_strange_country_city_combos_path
  %li.nav-header
    Data Assignment
  %li= link_to "Gender", records_to_clean_gender_path
  %li= link_to "Race", records_to_clean_race_path