%ul.nav.nav-tabs.nav-stacked
  %li= link_to "Strange Country/City Combos", records_to_clean_strange_country_city_combos_path
  %li= link_to "Gender Assignment", records_to_clean_gender_path
  %li= link_to "Race Assignment", records_to_clean_race_path