/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require flat-ui
 *= require_tree .
 *= require_self
 */


body {
  background-color: #e7e5e0;
  background-image: url(bg.jpg);
}

.no-link-style, .no-link-style:hover {
  color: inherit;
  text-decoration: inherit;
}

.small {
	font-size: small;
}

.heading {
	background-color: #abe9ac;
}

.title {
	margin-bottom: 0px;
	font-size: 21px;
	font-weight: 200;
	line-height: 30px;
}

.avalytics-navbar-inner {
  min-height: 40px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #fafafa;
  background-repeat: repeat-x;
  border: 1px solid #d4d4d4;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
  *zoom: 1;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}

#map-container {
  padding: 6px;
  border-width: 1px;
  border-style: solid;
  border-color: #ccc #ccc #999 #ccc;
  -webkit-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
  -moz-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
  box-shadow: rgba(64, 64, 64, 0.1) 0 2px 5px;
  width: 920px;
}

#map {
  width: 920px;
  height: 500px;
}

#map img {
  max-width: none;
}

.icon-map-marker {
  background-position: 14px;
}

.icon-user {
  background-position: 14px;
}

.icon-share-alt {
  background-position: 14px;
}

.homepage-tiles .tile {
  width: 192px;
  height: 312px;
}

.homepage-tiles .tile-content {
  height: 270px
}
