/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require flat-ui
 *= require_tree .
 *= require_self
 */

body {
  background-color: #e7e5e0;
  background-image: url(bg.jpg);
  padding-top: 60px;
}

.heading {
  background-color: #abe9ac;
}

.app-logo {
  width: 392px;
  height: 40px;
}

.menu {
  background-color: #e7e5e0;
}

.avalytics-navbar-inner {
  min-height: 40px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #fafafa;
  background-repeat: repeat-x;
  border: 1px solid #d4d4d4;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
  *zoom: 1;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}

.homepage-tiles {
  -webkit-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
  -moz-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
  box-shadow: rgba(64, 64, 64, 0.1) 0 2px 5px;
  width: 980px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;

  .tile {
    width: 192px;
    height: 312px;
    border: dashed 1px #a5a5a5;
    border-radius: 0px;
    background: url(bg.jpg);
  }

  .tile-content {
    height: 270px
  }
}

.footer {
  margin-top: 20px;
  text-align: center;
  color: #a5a5a5;
}

.framed {
  border: dashed 1px #a5a5a5;
}

.pull-top {
  position: fixed;
  top: 0px;
}

.pull-bottom {
  position: fixed;
  bottom: 0px;
}

.nav-container, .filter-container {
  background: url(bg.jpg);
  width: 980px;
  z-index: 999;
   -webkit-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
  -moz-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
  box-shadow: rgba(64, 64, 64, 0.1) 0 2px 5px;
}


/* Buttons */

.btn-group .btn {
  background-color: transparent;
  background: none;
  color: gray;
  text-shadow: 0 1px 0 #a5a5a5;
  font-size: 11pt;
}

.btn-toolbar .btn.active {
  color: gray;
}

/* Data */

#map-container {
  padding: 6px;
  -webkit-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
  -moz-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
  box-shadow: rgba(64, 64, 64, 0.1) 0 2px 5px;
  width: 920px;
  margin-top: 20px;
}

#map {
  width: 920px;
  height: 500px;
}

#map img {
  max-width: none;
}

.icon-map-marker, .icon-user, .icon-share-alt {
  background-position: 14px;
}

.table-bordered {
  border: dashed #a5a5a5 1px;
  border-radius: 0px;

  .heading {
    background-color: transparent;
  }
}

/* Typography

h1, h2, h3, h4 {
  color: gray;
  text-shadow: 0 1px 0 #666;
}

h3 {
  font-size: 14pt;
}

.small {
  font-size: small;
}

.title {
  margin-bottom: 0px;
  font-size: 21px;
  font-weight: 200;
  line-height: 30px;
}

.no-link-style, .no-link-style:hover {
  color: inherit;
  text-decoration: inherit;
}

/* Forms */

.checkbox .icon {
  background-image: url("/assets/checkbox-2x-brown.png");
  background-size: 110px 110px;
}

/* Overrides Flat or Bootstrap */

#user_email:focus {
  border-color: #a5a5a5;
}

#user_password:focus {
  border-color: #a5a5a5;
}