.login {
  background-image: none;
  padding: 0;
  margin: 0;
}

.login-screen {
  padding: 0 0 162px;
  min-height: 0px
}

.login-icon {
  position: relative;
  left: -225px;
}

.login-form {
  color: gray;
  left: 50px;
}

a:hover,a:focus{color: #1abc9c; text-decoration: underline;}

.checkbox {
  text-align: left;
}