.login {
  background: none;
  padding: 0;
  margin: 0;
}

.login-screen {
  background: none;
  padding: 0 0 162px;
  min-height: 0px;
  margin-top: 100px;
}

.login-logo {
  width: 350px;
}

.login-icon {
  position: relative;
  left: -225px;
}

.login-form {
  background-color: #f4f4f3;
  color: gray;
  left: 50px;
  position: inherit;
  width:600px; 
  margin: 50px auto 0px auto;
  padding: 30px;
  border-radius: 10px;
}


.login-form .login-field {
  padding-right: 30px;
  padding: 10px;
  font-size: 14pt;
  width:260px;
}

.login-form .login-field:hover {
  border-color: #a5a5a5;
}
.login-form .login-field:focus + .login-field-icon {
  color: #a5a5a5;
}
.login-form .login-field:focus {
  color: #a5a5a5;
}
