.span12
  %h1
    Candidates by Gender
  = render "pie_filters", job_titles: @job_titles

  #gender_chart
    %svg
:javascript
  var base_url = '/data/gender_pie.json';
  var selector = "#gender_chart svg";
  update_pie_chart(base_url, selector);