%ul.nav.nav-tabs.nav-stacked
  %li.nav-header
    Pie Charts
  %li= link_to "Genders", reports_genders_path
  %li= link_to "Races", reports_races_path
  %li.nav-header
    Maps
  %li= link_to "Location", reports_map_path
