.span12
  %h1
    Candidates by Progress
  #progress_aggregation_chart
    %svg

  :javascript
    update_horizontal_bar_chart("/data/progress_aggregation_horizontal_bar.json",'#progress_aggregation_chart svg');
